<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GifMaker_ObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED1C7F911C866D4C00724DC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED1C7FAA1C866D4C00724DC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED1C7FB51C866D4C00724DC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
